---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About me | Julien Bidias" description="About Julien Parfait BIDIAS">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me"
				tagline="Thank you for visiting us. To find out more about me, you can browse this section."
			>
				<img
					width="350"
					height="200"
					src="/assets/at-work.jpg"
					alt="Julien Parfait BIDIAS"
					style="display: block; margin: 0 auto;"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Summary</h2>
				<div class="content">
					<p style="text-align: justify;">
						An experienced data analyst and statistician, I am proficient in project management, monitoring and evaluation, and database management. I'm involved in field survey data collection, ongoing survey monitoring and KPI performance indicators. I'm involved in drawing up survey protocols, drafting technical reports for monitoring and managing data collection projects, drawing up work plans and ensuring the integrity and quality of the data throughout the data collection process.
					  </p>					  
				    <br>
					<p style="text-align: justify;">
						I have carried out advanced statistical analysis work in various sectors, and designed predictive, econometric and machine learning models and reporting/visualisation tools to optimise the monitoring of performance indicators, sales tracking and forecasting. Proficient in modelling and designing data analysis tools, I also excel in creating data analysis applications, creating dashboards for monitoring-evaluation, collecting and analysing performance. Proactive, I'm ready to analyse your data to improve your decision-making process through innovative approaches based on new technologies.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Statistician engineer and economist with a degree from ENSAE - Bac +5.</p>
				</div>
			</section>
			<section>
					<h2 class="section-title">Skills</h2>
					<div class="content">
						<ul class="skills-list">
							<li>Good oral and written communication, teamwork ;</li>
							<li>Organisational skills, autonomy, innovation, rigour;</li>
							<li>Sociable, professional, sharing knowledge ; </li>
						</ul>
					</div>
				</section>				
			<section>
				<h2 class="section-title">Programming</h2>
				<div class="image-row">
					<div class="image-with-text">
						<img src="/assets/python_icon.svg" alt="Python" class="horizontal-image" />
						<p>Python</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/r_icon.svg" alt="R" class="horizontal-image" />
						<p>R Studio</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/Minitab_Logo.svg" alt="Minitab" class="horizontal-image" />
						<p>Minitab</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/Stata_Logo.svg" alt="Stata" class="horizontal-image" />
						<p>Stata</p>
					</div>
				</div>
			</section>


			<section>
				<h2 class="section-title">Vizualisation</h2>
				<div class="image-row">
					<div class="image-with-text">
						<img src="/assets/icons8-power-bi-logo.svg" alt="Power BI" class="horizontal-image" />
						<p>Power BI</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/tableau-software.svg" alt="Tableau +++" class="horizontal-image" />
						<p>Tableau+++</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/icons8-excel.svg" alt="Excel" class="horizontal-image" />
						<p>Excel</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/r_icon.svg" alt="R" class="horizontal-image" />
						<p>R Shiny</p>
					</div>
				</div>
			</section>


			<section>
				<h2 class="section-title">Databases management</h2>
				<div class="image-row">
					<div class="image-with-text">
						<img src="/assets/mysql-logo-svgrepo-com.svg" alt="MySQL" class="horizontal-image" />
						<p>MySQL</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/microsoft-sql-server-logo-svgrepo-com.svg" alt="SQL server" class="horizontal-image" />
						<p>SQL server</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/MongoDB-Logo.svg" alt="MongoDB" class="horizontal-image" />
						<p>MongoDB</p>
					</div>
				</div>
			</section>



			<section>
				<h2 class="section-title">MS Office</h2>
				<div class="image-row">
					<div class="image-with-text">
						<img src="/assets/icons8-excel.svg" alt="Excel" class="horizontal-image" />
						<p>Excel</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/icons8-word.svg" alt="word" class="horizontal-image" />
						<p>Word</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/icons8-google-forms.svg" alt="Forms" class="horizontal-image" />
						<p>Forms</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/icons8-microsoft-project.svg" alt="project" class="horizontal-image" />
						<p>Ms Project</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/icons8-powerpoint.svg" alt="PPoint" class="horizontal-image" />
						<p>PowerPoint</p>
					</div>
				</div>
			</section>


			<section>
				<h2 class="section-title">Geographic information systems</h2>
				<div class="image-row">
					<div class="image-with-text">
						<img src="/assets/QGIS_logo,_2017.svg" alt="QGIS" class="horizontal-image" />
					</div>
					<div class="image-with-text">
						<img src="/assets/r_icon.svg" alt="R" class="horizontal-image" />
					</div>
					<div class="image-with-text">
						<img src="/assets/geopandas_logo_green.svg" alt="Geopandas" class="horizontal-image" />	
					</div>
				</div>
			</section>


			<section>
				<h2 class="section-title">Data collection</h2>
				<div class="image-row">
					<div class="image-with-text">
						<img src="/assets/logo_survey.png" alt="logo_survey" class="horizontal-image" />
						<p>Survey Solution</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/KoBo_Toolbox-1-400x400.png.webp" alt="kobo" class="horizontal-image" />
						<p>Kobo Toolbox</p>
					</div>
					<div class="image-with-text">
						<img src="/assets/odk.png" alt="odk" class="horizontal-image" />	
						<p>Open Data Kit</p>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>



<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		font-size: 1rem;
	}

	.content {
		grid-column: 2 / 4;
		font-size: 1rem;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>


<style>
    .image-row {
        display: flex;
        justify-content: center;
        gap: 20px; /* Espace entre les images */
        margin-top: 20px;
    }

    .horizontal-image {
        width: 50px; /* Réduisez la largeur de l'image */
        height: 50px; /* Réduisez la hauteur de l'image */
        object-fit: contain;
    }

    .section-title {
        font-size: 1.5rem; /* Taille de la police du titre */
        color: var(--gray-0); /* Couleur du titre */
        text-align: center; /* Centre le titre */
        margin-bottom: 10px;
    }

	.image-with-text p {
    margin-top: 5px;
    font-size: 0.8rem; /* Taille du texte sous l'image */
    color: var(--gray-200); /* Couleur du texte */
    text-align: center; /* Centre le texte sous l'image */
}

.skills-list {
    list-style-type: none; /* Supprime les puces par défaut */
    padding: 0;
    margin: 0;
}

.skills-list li {
    position: relative;
    padding-left: 1.5em; /* Espace pour la puce personnalisée */
    margin-bottom: 8px; /* Espace entre les items */
    font-size: 1.2rem;
    color: var(--gray-200); /* Couleur du texte */
}

/* Ajoute une puce colorée avant chaque item */
.skills-list li::before {
    content: "•"; /* Utilise un point comme puce */
    font-size: 1.4rem; /* Taille de la puce */
    position: absolute;
    left: 0;
    top: 0;
}

/* Couleurs des puces */
.skills-list li:nth-child(1)::before {
    color: #FF6347; /* Tomato */
}

.skills-list li:nth-child(2)::before {
    color: #4682B4; /* SteelBlue */
}

.skills-list li:nth-child(3)::before {
    color: #32CD32; /* LimeGreen */
}

.skills-list li:nth-child(4)::before {
    color: #FF4500; /* OrangeRed */
}

.skills-list li:nth-child(5)::before {
    color: #9400D3; /* DarkViolet */
}

.skills-list li:nth-child(6)::before {
    color: #FFD700; /* Gold */
}

</style>