---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Julien Bidias" description="A propos de Julien Parfait BIDIAS">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Merci de votre visite. Afin d'en savoir plus sur moi, vous pouvez parcourir toute cette section."
			>
				<img
					width="350"
					height="200"
					src="/assets/at-work.jpg"
					alt="Julien Parfait BIDIAS"
					style="display: block; margin: 0 auto;"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Résumé</h2>
				<div class="content">
					<p style="text-align: justify;">
						Data Analyst expérimenté, je rends opérationnelle, déploie des requêtes en langage SQL en temps réels pour un suivi efficace 
						des indicateurs de performances KPIs avec des Dashboards professionnels. Ayant une bonne connaissance sur les bases de données non relationnelles,
						NoSQL avec MongoDB, ainsi que des langages de programmation tels que Python et R, je réalise au quotidien plusieurs projets liés à la création d'applications
						d'analyse, de traitement de données et de déploiment de modèles prédictifs pour une gamme variée de besoins métiers.
					  </p>					  
				    <br>
					<p style="text-align: justify;">
						J'ai réalisé des travaux d'analyses statistiques avancées dans divers secteurs, et conçu des modèles prédictifs de machine learning de scoring credit pour analyser les probabilités
						de défaut de remboursement des prêts des clients et des outils de reporting/visualisation pour optimiser les performances commerciales. Proficient dans la modélisation et la conception 
						d'outils d'analyse données, je suis expert dans la conception d'applications web interactive d'analyse de données avec Python/R, développement de pipelines et j'ai une bonne connaissance du processus
						ETL (Extract Transform Load). Proactif, je suis prêt à analyser vos données pour améliorer votre processus de prise de decision à travers des approches innovantes basées
						sur de nouvelles technologies. 
					</p>
					<br>
					<p style="text-align: justify;">
						Leimotiv : Confiez moi vos données et je réponds à tous vos besoins métiers.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Ingénieur Statisticien Economiste diplômé de l'ENSAE Dakar (Bac +5).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Bonne communication orale et écrite, travail d'équipe, sens de l'organisation,
					   autonomie, innovation, très sociable, professionnel, partage de connaissances,
					   adaptation rapide à l'environnement de travail.
						</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Programmation</h2>
				<div class="content">
					<p>Python, R, Minitab, Stata.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Visualisation</h2>
				<div class="content">
					<p>Power BI, Tableau, Python/R Shiny Dashboard.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">DataBase</h2>
				<div class="content">
					<p>MySQL, SQL Server, MongoDB, BigQuery.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Suite office</h2>
				<div class="content">
					<p>Excel (avancé), Word, PowerPoint, Google (Forms, sheet, docs), Ms Project.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">SIG</h2>
				<div class="content">
					<p>Python Géopandas, R Studio, QGIS.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Collecte</h2>
				<div class="content">
					<p>ODK collect, Kobo Collect, Survey Solution, Survey Down, Microsoft/Google Forms.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
