---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2> 📊  Data Analyst</h2>
		<p style="text-align: justify;">E-commerce, analyse des ventes, analyse de données avec MySQL, gestion des clients avec MongoDB, Business Intelligence, Recherche en économie et analyse de données.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2> 🗺️ Data Viz</h2>
		<p style="text-align: justify;">Python/R shiny Dashboards, création d'applications web interactives d'analyse de données, Rapports automatiques, Suivi évaluation et apprentissage, PowerBI & Tableau ++.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2> 💻 Data Scientist</h2>
		<p style="text-align: justify;">Machine Learning pour la finance, gestion de risque, Developpement de pipelines et automatisation, processus ETL, solution designer, déploiement des modèles.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>

