---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h5> 📊 Data analysis</h5>
		<p style="text-align: justify;">Data analysis and processing with Python, R and Stata. Management of relational databases with MySQL and non-relational databases with MongoDB. Data collection with Kobo Toolbox, Open Data Kit.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h5> 🗺️ Dashboards</h5>
		<p style="text-align: justify;">Creation of dashboards using Power BI and Tableau++ to monitor performance indicators (KPIs), le suivi-évaluation, la présentation d'insights clés et l'automatisation.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h5> 💻 Modelling</h5>
		<p style="text-align: justify;">Development and deployment of Machine Learning models, development of pipelines and automation, modelling of macroeconomic aggregates, time series, sales forecasting.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>